
:root {
  --home-section-color: #005086;
  --about-section-color: #24a19c;
  --skills-section-color: #6ebfb5;
  --projects-section-color: #ffc7c7;
  --contacts-section-color: #ff5f40;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar-section {
  min-height: 100vh;
}

button {
  background: transparent;
  padding: 0px;
  border: 0px;
}

.header {
  position: relative;
  padding: 1px 5px;
  float: right;
}

.overlay {
  height: 100vh;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(-100vw);
}

.overlay-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}
.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}
.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}
.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}
.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out-1 {
  animation: slide-out 0.6s linear 0.5s both;
}
.slide-out-2 {
  animation: slide-out 0.6s linear 0.4s both;
}
.slide-out-3 {
  animation: slide-out 0.6s linear 0.3s both;
}
.slide-out-4 {
  animation: slide-out 0.6s linear 0.2s both;
}
.slide-out-5 {
  animation: slide-out 0.6s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

nav, nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: block;
  text-align: center;
  position: relative;
  top: 45%;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  position: absolute;
  top: 47.5%;
  left: 0;
  background-color: white;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li:nth-of-type(1) {
  background-color: var(--home-section-color);
}

nav li:nth-of-type(2) {
  background-color: var(--about-section-color);
}
nav li:nth-of-type(3) {
  background-color: var(--skills-section-color);
}
nav li:nth-of-type(4) {
  background-color: var(--projects-section-color);
}
nav li:nth-of-type(5) {
  background-color: var(--contacts-section-color);
}

#home-section, #contact-section, #about-section, #skills-section, #projects-section{
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  color: brown;
}

.homelink, #home-section {
  background-position: center center;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1603598629493-093254bea20d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);

}

.aboutlink, #about-section {
  background-color: var(--about-section-color);
}

.skillslink, #skills-section {
  background-color: var(--skills-section-color);
}

#projects-section, .projectslink {
  background-color: var(--projects-section-color);
}

#contact-section, .contactlink {
  background-color: var(--contacts-section-color);
}

.menu-bars {
  position: fixed;
  z-index: 12;
  top: 1rem;
  right: 2rem;
  display: inline;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 8px 0;
  transition: 0.4s;
} 

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}